<head>
    <title>Chatbot</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>

<body>
    <div class="zoneSource" id="zoneSource">
        <h3>Veuillez saisir le lien de la source</h3>
        <div class="info" id="info"></div>
            <!--zone info-->
        <div class="inputLien" id="inputLien">
            <input type="text" name="source" id="source" class="input" placeholder="Saisissez le lien ...">
            <button id="boutonSource" class="bouton" onclick="envoyerSource()">Analyser</button>
        </div>
        <!--<form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="file" id='fichier_pdf' accept="application/pdf">
            <input type="submit" value="Analyser">
        </form>-->
        
    </div>
    <div class="milieu">
        <div class="welcome">
            <h3>Comment puis je vous aider ?</h3>
        </div>
        
        <div class="zoneMessages" id="zoneMessages">
            <!--zone message à ajouter-->
        </div>
            
        
        <div class="ecrire" >
            <input type="text" name="message" id="message" class="input" placeholder="Écrire un message...">
            <button id="boutonMessage" class="bouton" onclick="envoyerMessage()">Envoyer</button>
        </div>
    </div>
    <script src="{{ url_for('static', filename='chat.js') }}"></script>
    <script src="{{ url_for('static', filename='source.js') }}"></script>
</body>

