<head>
    <title>Chatbot</title>
</head>

<body>
    <div class="zoneSource" id="zoneSource">
        <h3>Veuillez saisir le lien de la source</h3>
        <div class="info" id="info"></div>
        <input type="text" name="source" id="source" placeholder="Saisissez le lien ...">
        <button id="boutonSource" onclick="envoyerSource()">Analyser</button>
    </div>
    <div class="zoneMessages" id="zoneMessages">
        <div class="welcome">
            <h3>How can I assist you ?</h3>
        </div>
        <!--zone message à ajouter-->
    </div>

    <div class="ecrire" >
        <input type="text" name="message" id="message" placeholder="Écrire un message...">
        <button id="boutonMessage" onclick="envoyerMessage()">Envoyer</button>
    </div>

    <script src="{{ url_for('static', filename='chat.js') }}"></script>
    <script src="{{ url_for('static', filename='source.js') }}"></script>
</body>

